<!-- <p>footer works!</p> -->
  <!-- Site footer
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">C</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">UI Design</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">PHP</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Java</a></li>
            <li><a href="http://scanfcode.com/category/android/">Android</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Templates</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/about/">About Us</a></li>
            <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
            <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>
            <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://scanfcode.com/sitemap/">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
       <a href="#">Scanfcode</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
 -->

 <!-- Site footer -->
<footer class="site-footer animated-border">
  <!-- <div class="container"> -->
    <div class="row">
      <!-- About Section -->
      <div class="col-sm-12 col-md-6">
        <h6>About CartSystem</h6>
        <p class="text-justify">
          CartSystem is an e-commerce platform that provides a seamless experience for users to purchase their desired products. Our focus is on delivering a smooth and user-friendly interface for online shopping, combined with the best customer service.
        </p>
      </div>

      <!-- Categories Section -->
      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="CartSystem/product/electronics">Electronics</a></li>
          <li><a href="CartSystem/product/fashion">Fashion</a></li>
          <li><a href="CartSystem/product/home-appliances">Home Appliances</a></li>
          <li><a href="CartSystem/product/sports">Sports</a></li>
          <li><a href="CartSystem/product/books">Books</a></li>
        </ul>
      </div>

      <!-- Latest News Section -->
      <div class="col-xs-6 col-md-3">
        <h6>Latest News</h6>
        <ul class="footer-links">
          <li><a href="#">New fashion trends for 2024 now available</a></li>
          <li><a href="#">Up to 50% off on all electronics this season!</a></li>
          <li><a href="#">Exclusive deals on home appliances</a></li>
          <li><a href="#">Sports gear for the upcoming summer season</a></li>
        </ul>
      </div>
    </div>
    <hr>
  <!-- </div> -->

  <div class="container">
    <div class="row">
      <!-- Copyright Section -->
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2024 All Rights Reserved by
          <a href="#">Mufaddal Bandukwala</a>.
        </p>
      </div>

      <!-- Social Media Links -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fab fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
