<app-header></app-header>

  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card bg-dark">
          <div class="card-header">
            <h5 class="card-title">Pay with PayPal</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Click the button below to proceed with PayPal payment:</p>
            <!-- PayPal Button -->
            <div id="paypal-button-container"><button type="button" class="btn btn-primary" (click)="pay()"><i class="fab fa-paypal"></i> Pay</button> </div>

          </div>
        </div>
      </div>
    </div>
  </div>
